h1{
color: blue;
backgraund-color: yellow;

}
h2{
    color: red;
    backgraund-color: gray;

}

h3{
    color yellow;
    backgraund-color: brown;
    
}

p{
    color: gray;
    backgraund-color: magenta;

}